html,
body {
  height: 100%;
  margin: 0;

  .pagination {
    display: flex;
    flex-direction: row-reverse;
    background: aliceblue;
    padding: 0 1em 1em 0;
  }

  .container {
    min-height: 100%;

    .list-container {
      padding: 1em 0;
      background: aliceblue;
    }
  }
}
